* {
    margin: 0;
    padding: 0;
    font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
}

body {
    height: 750px;
    background-color: #F1F1F1;
}

nav {
    width: 15%;
    float: left;

    ul {
        margin-bottom: 20px;

        li {
            a {
                list-style-type: none;
                text-decoration: none;

                &.main-nav {
                    color: #900B09;
                }
            }
        }
    }
}

main {
    width: 69%;
    height: 90%;
    float: left;
    border: 1px solid #808080;
    background-color: white;


    h1 {
        font-size: 1.5em;
    }

    button {
        width: 110px;
        height: 25px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    button.previous {
        background: url(images/leftarrow.png) no-repeat 5px;
    }

    button.next {
        background: url(images/rightarrow.png) no-repeat 5px;
    }

    article {
        margin-bottom: 25px;

        h2 {
            background-color: #808080;
            color: white;
            font-size: 18px;
        }

        img {
            float: left;
        }

        p {
            margin-top: 15px;
            margin-bottom: 15px;

            a {
                color: #900B09;
            }

            a.startCss {
                margin-left: 95px;
            }
        }
    }
    hr {
        height: 1px;
        background-color: #9B9B9B;
        width: 99%;
        margin: 2px;
    }
}

aside {
    width: 15%;
    height: 95%;
    display: inline-block;
    margin-left: 3px;
    background-color: white;

    h2 {
        background-color: #808080;
        color: white;
        font-size: 18px;
    }

    div {
        border: 1px solid #808080;
    }
    p {
        text-align: center;
        margin: 3px;
    }
    a {
        color: #900B09;
        padding: 5px;
        text-align: center;
    }
    button {
        width: 170px;
        height: 40px;
        margin-left: 15px;
        margin-top: 6px;
        background-color: #D4F0FE;
        color: #94E0FD;
        border: 2px solid #94E0FD;
        font-size: 20px;
    }
}
